html, body {
   height: 100%;
  }

body {
    background: #444;
    padding: 30px 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }


button {
    padding: 0;
    outline: 0;
  }

  .board {
    border: 6px, #808080;
    width: 332px;
    height: 332px;
    display: flex;
    flex-wrap: wrap;
    }

    .space {
        flex: 0 0 32px;
        height: 32px;
       }